Source: aptdownloader
Section: utils
Priority: optional
Maintainer: Vladimir Yang <scepter@1949hacker.cn>
Build-Depends: debhelper-compat (= 13), apt-rdepends
Standards-Version: 4.5.1
Homepage: https://1949hacker.cn
#Vcs-Browser: https://salsa.debian.org/debian/aptdownloader
#Vcs-Git: https://salsa.debian.org/debian/aptdownloader.git
Rules-Requires-Root: no

Package: aptdownloader
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, apt-rdepends (>= 1.0)
Description: A tool for downloading apt packages and their dependencies.
 Use 'aptdownloader <package name>' to download the software package and its dependencies to the current directory.
 example:
    aptdownloader docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
