Package: aptdownloader-doc
Source: aptdownloader
Version: 1.0.0-1
Architecture: all
Maintainer: Vladimir Yang <scepter@1949hacker.cn>
Installed-Size: 9
Section: doc
Priority: optional
Homepage: https://1949hacker.cn
Description: A tool for downloading apt packages and their dependencies. (common documentation)
 Use 'aptdownloader <package name>' to download the software package and its dependencies to the current directory.
 .
 This is the common documentation package.
