Package: aptdownloader
Version: 1.0.0-1
Architecture: amd64
Maintainer: Vladimir Yang <0@hackerbs.com>
Installed-Size: 6933
Depends: libc6 (>= 2.14), zlib1g (>= 1:1.1.4), apt-rdepends (>= 1.0)
Section: utils
Priority: optional
Homepage: https://hackerbs.com
Description: A tool for downloading apt packages and their dependencies.
 Use 'aptdownloader <package name>' to download the software package and its dependencies to the current directory.
 example:
    aptdownloader docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
